{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row justify-content-center align-items-center">
        <div class="col"></div>
        <div class="col">

            <button class="btn btn-primary mb-3" id="generateBoardBtn">
                Generate board
            </button>

            <div class="mb-3" id="board"></div>

            <button class="btn btn-success mb-3" disabled hidden id="checkWordBtn">Check word</button>

            <div class="mb-3" id="result"></div>
            <p class="mb-3" id="wordsFound"></p>
        </div>
        <div class="col"></div>
    </div>

    <!-- Modal: Generate/reset board -->
    <div class="modal fade" id="generateModal" tabindex="-1" aria-labelledby="generateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="generateModalLabel">Reset board?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>A board is already generated. Do you want to reset it and generate a new one?</p>
                    <p class="text-warning">Note: This will reset your progress.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmGenerateModalBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Board dimensions -->
    <div class="modal fade" id="dimensionsModal" tabindex="-1" aria-labelledby="dimensionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dimensionsModalLabel">Set board dimensions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="dimensionsModalForm">
                        <div class="mb-3">
                            <label for="rowsInput" class="form-label">Rows</label>
                            <input type="number" class="form-control" id="rowsInput" min="2" max="10" value="4">
                        </div>

                        <div class="mb-3">
                            <label for="colsInput" class="form-label">Columns</label>
                            <input type="number" class="form-control" id="colsInput" min="2" max="10" value="4">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDimensionsModalBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script src="static/main.js"></script>
{% endblock %}